{
	"extends": [
		"plugin:prettier/recommended",
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"plugins": ["@typescript-eslint", "prettier", "simple-import-sort"],
	"parser": "@typescript-eslint/parser",
	"rules": {
		"no-console": "warn",
		"indent": "off",
		"no-trailing-spaces": "warn",
		"no-extra-semi": "error",
		"semi": ["error", "always"],
		"react-hooks/exhaustive-deps": "off",
		"simple-import-sort/imports": "error",
		"simple-import-sort/exports": "error",
		"react/jsx-props-no-spreading": 0,
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"tabWidth": 4,
				"printWidth": 160,
				"semicolons": true,
				"semi": true,
				"endOfLine": "auto",
				"bracketSpacing": true,
				"indent": "off"
			}
		]
	}
}
